<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .x-block-item {
            height: 2rem;
            width: 2px;
            background-color: black;
        }

        .x-float-divide {
            height: 1px;
            width: 2.3rem;
            background-color: black;
            position: absolute;
            left: -1rem;
            top: 0.75rem;
        }
    </style>
    <title>画线</title>
</head>

<body>
    <div class="container mx-auto flex flex-col h-screen" id="app">
        <div class="flex justify-around h-20 bg-gray-300" id="header">
            <div @click="startGame" class="border-blue-500 border-solid border-2 h-8 w-20 text-center self-center">开始
            </div>
            <div @click="reloadGame" class="border-blue-500 border-solid border-2 h-8 w-20 text-center self-center">重载
            </div>
        </div>
        <div class="flex flex-col flex-grow bg-gray-100 py-10" id="playground">
            <div v-for="(num, idx) in gameObj.blockItems" :key="idx" class="flex flex-row self-center h-full space-x-8">
                <div v-for="i in num" :key="i" class="h-6 x-block-item" style="position: relative">
                    <div v-if="isSelected(idx, i - 1) && rerender" class="x-float-divide"
                        :style="{ backgroundColor: selectedColor(idx, i - 1)}"></div>
                </div>
            </div>
        </div>
        <div class="flex h-40 bg-gray-300">
            <div class="w-1/6 h-8 text-center self-center">{{ userName }}</div>
            <div class="w-1/6 h-8 text-center self-center">{{ userClock }}</div>
            <div @click="withDraw" class="w-2/6 h-8 text-center self-center border-2 border-dotted border-blue-500">{{
                '撤回' }}</div>
            <div @click="confirm" class="w-2/6 h-8 text-center self-center border-2 border-dotted border-blue-500">{{
                '确认' }}</div>
        </div>
    </div>
    <script src="game.js"></script>
    <script src="ui.js"></script>
</body>

</html>